<title>{{{title}}}</title>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">Sản phẩm</span>
				<h2 class="mb-4">{{{sp.name}}}</h2>
				{{!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> --}}
			</div>
		</div>
	</div>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 ftco-animate">
					<a href="{{{sp.img}}}" class="image-popup"><img src="{{{sp.img}}}" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<h3>{{{sp.name}}}</h3>
					<div class="rating d-flex">
						<p class="text-left mr-4">
							<a href="#" class="mr-2">{{{sp.rate}}}</a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
							<a href="#"><span class="ion-ios-star-outline"></span></a>
						</p>
						<p class="text-left mr-4">
							<a href="#" class="mr-2" style="color: #000;">{{{sp.rateCount}}} <span
									style="color: #bbb;">Đánh giá</span></a>
						</p>
						<p class="text-left">
							<a href="#" class="mr-2" style="color: #000;">{{{sp.sold}}} <span style="color: #bbb;">Đã
									bán</span></a>
						</p>
					</div>
					{{#if sp.salePrice}}
					<p class="price"><span class="mr-2 price-dc">&#8363;{{{sp.price}}}</span>
						<br><span class="price-sale">&#8363;{{{sp.salePrice}}}</span></p>
					{{else}}
					<p class="price"><span>&#8363;{{{sp.price}}}</span></p>
					{{/if}}
					<p>{{{sp.description}}}
					</p>
					<div class="row mt-4">
						<div class="col-md-6">
							<div class="form-group d-flex">
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">Nhỏ</option>
										<option value="">Vừa</option>
										<option value="">Lớn</option>
										<option value="">Cực lớn</option>
									</select>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="input-group col-md-6 d-flex mb-3">
							<span class="input-group-btn mr-2">
								<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
									<i class="ion-ios-remove"></i>
								</button>
							</span>
							<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1"
								min="1" max="100">
							<span class="input-group-btn ml-2">
								<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
									<i class="ion-ios-add"></i>
								</button>
							</span>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<p style="color: #000;">Có sẵn {{{sp.available}}} kg</p>
						</div>
					</div>
					<p><a href="javascript:addToCart('{{sp._id}}')" class="btn btn-black py-3 px-5">Thêm vào giỏ</a></p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<h2>Bình luận</h2>
			<br>
			<form action="" method="post" name="comment">
				{{#unless user}}
				<div class="row form-group">
					<div class="col col-md-3"><label for="text-input" class=" form-control-label">Nhập tên</label></div>
					<div class="col-12 col-md-9"><input type="text" id="text-input" name="username" placeholder="Tên"
							class="form-control"><small class="form-text text-muted">Nhập tên</small></div>
				</div>
				{{/unless}}
				<div class="row form-group">
					<div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Nội dung</label>
					</div>
					<div class="col-12 col-md-9">
						<textarea name="content" id="textarea-input" rows="3" placeholder="Nội dung..."
							class="form-control"></textarea>
					</div>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-sm" onclick="sendComment('{{sp._id}}');">
						<i class="fa fa-dot-circle-o"></i> Thêm bình luận
					</button>
				</div>
			</form>
			<hr>
			<div id="commentBlock">
				<ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
					{{#each comment}}
					<strong class="pull-left primary-font">{{name}}</strong>
					</br>
					<li class="ui-state-default">{{detail}}</li>
					</br>
					{{/each}}
				</ul>
				<div class="row">
					<div class="col text-center">
						<div class="block-27">

				<ul>
					{{#paginate pagination type="previous"}}
					<li {{#if disabled}}class="disabled" {{/if}}><a href="javascript:getCommentsPage({{n}})">&lt;</a>
					</li>
					{{/paginate}}
					{{#paginate pagination type="next"}}
					<li {{#if disabled}}class="disabled" {{/if}}><a href="javascript:getCommentsPage({{n}})">&gt;</a>
					</li>
					{{/paginate}}
				</ul>
				</div>
				</div>
						</div>
			</div>
			<hr>
		</div>
		</div>
	</section>
	<div class="container">
		<h2>Sản phẩm tương tự cùng loai</h2>
		{{#each relaProducts}}
<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="/san-pham/chi-tiet?productId={{{_id}}}" class="img-prod"><img class="img-fluid"
								src="{{{img}}}" alt="Colorlib Template">
							{{#if salePrice}}
							<span class="status">SALE</span>
							{{/if}}
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="/san-pham/chi-tiet?productId={{{_id}}}">{{{name}}}</a></h3>
							<div class="d-flex">
								<div class="pricing">
									{{#if salePrice}}
									<p class="price"><span class="mr-2 price-dc">&#8363;{{{price}}}</span><span
											class="price-sale">&#8363;{{{salePrice}}}</span></p>
									{{else}}
									<p class="price"><span class="mr-2 price-sale">&#8363;{{{price}}}</span></p>
									{{/if}}
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="javascript:addToCart('{{this._id}}')"
										class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
	</div>
</section>
<script>
	var username;
	{{#if user}}
	username = '{{ user.username }}';
	{{/if}}

			var productId = '{{sp._id}}';
						function getCommentsPage(page)
			{
				var getComment = new XMLHttpRequest();
				getComment.onreadystatechange = function()
				{
					if (this.readyState == 4 && this.status == 200) {
						var html = this.responseText;
						$("#commentBlock").html('');
						$("#commentBlock").html(html);
						
					}
				}
				getComment.open("get",'/san-pham/binh-luan?productId='+productId+'&p='+page);
				getComment.send();
			}
			function sendComment(idProduct) {
				if (!username) username = document.forms["comment"]["username"].value;
				var sendComment = new XMLHttpRequest();
				sendComment.open('post', '/san-pham/binh-luan', true);
				sendComment.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				sendComment.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						var html = this.responseText;
						document.forms["comment"]["content"].value = '';
						getCommentsPage(1);
					}
				};
				const content = document.forms["comment"]["content"].value;
				var params = "productId=" + idProduct + "&username=" + username + "&content=" + content;
				sendComment.send(params);
			}
		function addToCart(productId)
	{
		var request = new XMLHttpRequest();
		request.open("GET","/cart/add-to-cart/"+productId,true);
		request.onreadystatechange = function()
		{
			if (this.readyState == 4 && this.status == 200) {
				var htmlRendered = this.responseText;
				$('#totalQtyCart').text(htmlRendered);
			}
		}
		request.send();
	}
</script>