<title>{{{title}}}</title>
<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="/">Trang chủ</a></span> <span>Sản phẩm</span></p>
				<h1 class="mb-0 bread">Sản phẩm</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section" id="formsection">
	<div class="container">
		<form action="" method="get" enctype="multipart/form-data" class="form-horizontal" name="filter">
			<div class="row">
				<div class="col-md-3 form-group">
					<label for="sortBy" class=" form-control-label">Sắp xếp theo</label>
					<select name="sortBy" id="SelectLm" class="form-control-sm form-control">
						<option value="1">Giá</option>
						<option value="2">Số lượng đã bán</option>
						<option value="3">Số lượng tồn kho</option>
					</select>
				</div>
				<div class="col-md-3 form-group">
					<label for="orderBy" class=" form-control-label">Thứ tự</label>
					<select name="orderBy" id="SelectLm" class="form-control-sm form-control">
						<option value="0">Không</option>
						<option value="1">Tăng dần</option>
						<option value="2">Giảm dần</option>
					</select>
				</div>
				<div class="col-md-3 form-group">
					<label for="text-input" class="form-control-label">Giá thấp nhất</label>
					<input type="text" id="text-input" name="minCost" placeholder="" class="form-control">
				</div>
				<div class="col-md-3 form-group">
					<label for="text-input" class=" form-control-label">Giá cao nhất</label>
					<input type="text" id="text-input" name="maxCost" placeholder="" class="form-control">
				</div>
			</div>
			<div class="row form-group">
				<div class="col col-md-3"><label for="text-input" class=" form-control-label">Tên sản phẩm</label></div>
				<div class="col-12 col-md-9"><input type="text" id="text-input" name="productName" placeholder=""
						class="form-control"></div>
			</div>
			<div>
				<button type="button" class="btn btn-success btn-sm" onclick="submitForm();">
					<i class="fa fa-dot-circle-o"></i> Tìm kiếm
				</button>
				<button type="reset" class="btn btn-danger btn-sm">
					<i class="fa fa-ban"></i> Reset
				</button>
			</div>
		</form>
	</div>
	<div class="container">
		<div class="row justify-content-center" id="categories">
			<div class="col-md-10 mb-5 text-center">
				<ul class="product-category" id="categories">
					<li><a href="/san-pham" class="active">Tất cả</a></li>
					{{#each categorys}}
					<li><a id="{{{_id}}}" href="javascript:loadCategory('{{{_id}}}')">{{{name}}}</a></li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div id="renderview">
			<div class="row">
				{{#each products}}
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="/san-pham/chi-tiet?productId={{{_id}}}" class="img-prod"><img class="img-fluid"
								src="{{{img}}}" alt="Colorlib Template">
							{{#if salePrice}}
							<span class="status">SALE</span>
							{{/if}}
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="/san-pham/chi-tiet?productId={{{_id}}}">{{{name}}}</a></h3>
							<div class="d-flex">
								<div class="pricing">
									{{#if salePrice}}
									<p class="price"><span class="mr-2 price-dc">&#8363;{{{price}}}</span><span
											class="price-sale">&#8363;{{{salePrice}}}</span></p>
									{{else}}
									<p class="price"><span class="mr-2 price-sale">&#8363;{{{price}}}</span></p>
									{{/if}}
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="#"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="javascript:addToCart('{{_id}}')"
										class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<ul>
							{{#paginate pagination type="first"}}
							<li {{#if disabled}}class="disabled" {{/if}}><a href="javascript:submitForm({{n}})">&lt;&lt;</a>
							</li>
							{{/paginate}}
							{{#paginate pagination type="previous"}}
							<li {{#if disabled}}class="disabled" {{/if}}><a href="javascript:submitForm({{n}})">&lt;</a>
							</li>
							{{/paginate}}
							{{#paginate pagination type="middle" limit="7"}}
							<li {{#if active}} class="active" {{/if}}><a href="javascript:submitForm({{n}})">{{n}}</a></li>
							{{/paginate}}
							{{#paginate pagination type="next"}}
							<li {{#if disabled}}class="disabled" {{/if}}><a href="javascript:submitForm({{n}})">&gt;</a>
							</li>
							{{/paginate}}
							{{#paginate pagination type="last"}}
							<li {{#if disabled}}class="disabled" {{/if}}><a href="javascript:submitForm({{n}})">&gt;&gt;</a>
							</li>
							{{/paginate}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	var currentCate = 0;
</script>
<script>
	function loadCategory(cateId) {
		currentCate = cateId;
		var requestProduct = new XMLHttpRequest();
		requestProduct.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var htmlRendered = this.responseText;
				document.getElementById('renderview').innerHTML = '';
				window.history.pushState({ content: htmlRendered }, null, "/san-pham/loai/" + cateId);
				$("#renderview").html(htmlRendered);
			}
		};
		requestProduct.open("GET", "/ajax/san-pham/loai/" + cateId, true);
		requestProduct.send();
	}
</script>
<script>
	function page(pageIndex) {
		var requestProduct = new XMLHttpRequest();
		requestProduct.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var htmlRendered = this.responseText;
				document.getElementById('renderview').innerHTML = '';
				$("#renderview").html(htmlRendered);
			}
		};
		if (!currentCate)
			requestProduct.open("GET", "/ajax/san-pham?p=" + pageIndex, true);
		else requestProduct.open("GET", "/ajax/san-pham/loai/" + currentCate + "?p=" + pageIndex, true);
		requestProduct.send();
	}
</script>
<script>
	function submitForm(page) {
		if (!page) page= 1;
		const sortBy = document.forms["filter"]["sortBy"].value;
		const orderBy = document.forms["filter"]["orderBy"].value;
		const minCost = document.forms["filter"]["minCost"].value;
		const maxCost = document.forms["filter"]["maxCost"].value;
		const name = document.forms["filter"]["productName"].value;
		var requestProduct = new XMLHttpRequest();
		requestProduct.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var htmlRendered = this.responseText;
				document.getElementById('renderview').innerHTML = '';
				$("#renderview").html(htmlRendered);
			}
		};
		if (!currentCate)
			requestProduct.open("GET", "/ajax/san-pham?sortBy=" + sortBy + "&orderBy=" + orderBy + "&minCost=" + minCost + "&maxCost=" + maxCost + "&productName=" + name+"&p="+page, true);
		else requestProduct.open("GET", "/ajax/san-pham/loai/" + currentCate + "?sortBy=" + sortBy + "&orderBy=" + orderBy + "&minCost=" + minCost + "&maxCost=" + maxCost + "&productName=" + name+"&p="+page, true);
		requestProduct.send();
	};
	function addToCart(productId)
	{
		var request = new XMLHttpRequest();
		request.open("GET","gio-hang/add-to-cart/"+productId,true);
		request.onreadystatechange = function()
		{
			if (this.readyState == 4 && this.status == 200) {
				var htmlRendered = this.responseText;
				document.getElementById('totalQtyCart').innerText=htmlRendered;
			}
		}
		request.send();
	}
</script>